.auth-form-container {
  margin-top: 25px;
  color: #1e98b0;
  background: #fff;
}

.auth-footer {
  position: absolute;
  width: -webkit-fill-available;
  bottom: 0px;
}

  .auth-footer .credit a {
    color: #707070;
    font-size: 13px;
    font-weight: 500;
    padding-right: 14px;
  }

  .auth-footer .copyright {
    color: #1e98b0;
    font-size: 13px;
    font-weight: 600;
  }

.btn-login {
  border-radius: 5px;
  background: #1e98b0 !important;
  padding: 4px 47px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s ease-out;
}

  .btn-login:hover {
    background: #c8f1ec !important;
    color: #1e98b0 !important;
  }

.reset-pass {
  text-decoration: none;
  color: rgb(255 79 77);
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.4s;
}

  .reset-pass:hover {
    color: rgb(189 2 0);
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s;
    text-decoration: none;
  }

.link-new-register {
  margin-top: 50px;
}

  .link-new-register .title {
    color: #7f7f7f;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px !important;
  }

  .link-new-register .title-second {
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }

.link-register {
  color: #1e98b0;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding-right: 15px;
  transition: 0.3s;
  text-decoration: none;
}

  .link-register:hover {
    position: relative;
    margin-top: -15px;
    padding: 15px;
    background: #c8f1ec !important;
    color: #1e98b0 !important;
    text-decoration: none;
  }

@media (max-width: 767.98px) {
  .credit {
    text-align: center;
  }

  .auth-footer {
    display: block !important;
  }

    .auth-footer .copyright {
      text-align: center;
    }

  .btn-login {
    padding: 4px 30px !important;
  }

  .bg-login-xs {
    /* background-image: url("/static/media/Login.5a76679a.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
  }

  .auth-form-container {
    background: #ffffffc9 !important;
  }

  /* .auth-form-container .card-body {
      box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.56) !important;
    } */

  .text-login-sm {
    color: rgb(30 152 176);
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
  }

  .text-login-sm-details {
    color: #959595;
    font-weight: 500;
    font-size: 15px;
  }
}

.w-sm-50-xs-80 {
  width: 50%;
}

.register-form {
  margin-bottom: 70px;
}

@media (max-width: 767.98px) {
  .w-sm-50-xs-80 {
    width: 80% !important;
  }

  .register-form {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
  }
}

/* register */
.register-container {
  background: url("../img/backgrounds/register-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.forgot-container {
  background-image: url("/static/media/Login.5a76679a.png");
  /* background: url("../img/pages/forgot-password.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: fixed;
  width: 60%;
}

.provider-register-container {
  background: url("../img/backgrounds/provider-register-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: fixed;
  width: 60%;
}

.student-register-container {
  background: url("../img/backgrounds/Sign\ up\ \(1\)\ \(2\).png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: fixed;
  width: 60%;
}

.consultant-register-container {
  background: url("../img/backgrounds/Rectangle\ 3296.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: fixed;
  width: 60%;
}

.studentLogin-container {
  background: url("../img/backgrounds/rsz_frame_33900.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.logo-fixed {
  position: fixed;
  left: 100px;
  top: 50px;
}

.bg-register {
  background: #fafcfd !important;
}

.btn-register-lg {
  font-weight: 500;
  border: 2px solid #019088 !important;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  color: #fff !important;
  background: #019088 !important;
  transition: 0.5s ease-in;
  padding: 5px;
  margin-bottom: 20px;
}

  .btn-register-lg:hover {
    transition: 0.5s ease-out !important;
    color: #fff !important;
    background: #fc7300 !important;
    border: 2px solid #fc7300 !important;
  }

  .btn-register-lg:disabled {
    transition: 0.5s ease-out !important;
    color: #fff !important;
    background: #01908987 !important;
    border: 2px solid #01908987 !important;
    cursor: not-allowed;
  }

/* register footer */
.register-footer-link {
  color: #707070;
  font-size: 13px;
  font-weight: 400;
  padding-left: 18%;
}

.register-footer-credit {
  color: #045d5e;
  font-weight: 600;
  font-size: 13px;
}

  .register-footer-credit span {
    color: #252525 !important;
    font-weight: 400;
  }

.register-form-container {
  position: relative;
  overflow-y: auto;
  padding-top: 70px;
  padding-bottom: 20px;
}

/*fixed css*/
.w-sm-90 {
  width: 90%;
}

.auth-logo-fixed {
  position: fixed;
  left: 100px;
  top: 80px;
  height: 45px !important;
}

.bg-login {
  /* background-image: url("/static/media/Login.5a76679a.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: fixed;
  width: 60%;
  animation: change_img 15s ease-in-out infinite;
}

/*========================*/

@keyframes change_img {
  0% {
    background-image: url("../img/loginpage-Illustration1.png");
  }

  25% {
    background-image: url("../img/loginpage-Illustration2.png");
  }

  50% {
    background-image: url("../img/loginpage-Illustration3.png");
  }

  75% {
    background-image: url("../img/loginpage-Illustration2.png");
  }

  100% {
    background-image: url("../img/loginpage-Illustration1.png");
  }
}

/*========================*/

.carousel-img {
  /* background-image: url("/static/media/Login.5a76679a.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: fixed;
  width: 60%;
}

.auth-container {
  position: relative;
  min-height: 100%;
  display: flex;
}

.left-illustration {
  width: 66%;
  height: 100vh;
  max-height: 100vh;
}

.right-container {
  width: 40%;
  min-height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

  .right-container::-webkit-scrollbar {
    display: none;
  }

@media (max-width: 767.98px) {
  .w-sm-90 {
    width: 95% !important;
  }

  .btn-register-lg {
    margin-bottom: 10px;
  }

  .left-illustration {
    width: 100%;
  }

  .right-container {
    width: 100%;
  }
}

.form-container {
  margin-top: 15%;
}

.register-links-section {
  margin-top: 120px;
}

  /* .register-links-section {
  margin-top: 60px;
} */

  .register-links-section h1 {
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 500;
  }

/* register header */
.register-header {
  display: block;
}

  .register-header h1 {
    color: #111111;
    font-size: 30px;
    font-weight: 600;
  }

  .register-header p {
    font-size: 11px;
    font-weight: 500;
    color: #252525;
    opacity: 0.7;
  }

.form-items {
  margin-top: 60px;
}

@media (max-width: 767.98px) {
  .register-header {
    text-align: center;
  }

  .form-items {
    margin-top: 30px !important;
  }

  .register-links-section {
    margin-top: 20px !important;
  }

  .form-container {
    margin-top: 10%;
  }
}

@media (min-width: 1400px) {
  .responsive-form {
    width: 42%;
  }

  .form-items {
    margin-top: 70px !important;
  }

  .register-header h1 {
    color: #111111;
    font-size: 35px;
    font-weight: 600;
  }

  .auth-logo-fixed {
    position: fixed;
    left: 100px;
    top: 80px;
    height: 45px !important;
  }

  .form-container {
    margin-top: 20%;
  }

  .register-header p {
    font-size: 18px;
    font-weight: 500;
    color: #252525;
    opacity: 0.7;
  }
}

.register-button-hover {
  color: #7f7f7f;
  font-size: 16px;
  margin-right: 25px;
  font-weight: 600;
}

  .register-button-hover:hover {
    color: #045d5e;
    text-decoration: none;
  }

.maintenance-text {
  font-size: 16px;
  font-weight: 500;
  color: #f97461;
}
