/* Base: 1 column */
.grid-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* Custom Breakpoint: Small (≥ 500px) — 2 columns */
@media (min-width: 700px) {
  .grid-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Custom Breakpoint: Medium (≥ 800px) — 3 columns */
@media (min-width: 1050px) {
  .grid-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Custom Breakpoint: Large (≥ 1100px) — 4 columns */
@media (min-width: 1600px) {
  .grid-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}
